name: docker release

on:
  workflow_dispatch:
    inputs:
        no-cache:
          description: "Disable Docker build cache"
          required: false
          default: "false"
  push:
    tags:
      - "v*"

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      attestations: write

    steps:
      - name: get the tag name
        id: get_tag
        run: echo ::set-output name=TAG::$(echo $GITHUB_REF | cut -d / -f 3)

      - name: checkout code
        uses: actions/checkout@v6

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ secrets.GH_USERNAME }}
          password: ${{ secrets.GH_TOKEN }}

      - name: Build and push
        id: build-push
        uses: docker/build-push-action@v6
        with:
          push: true
          no-cache: ${{ inputs.no-cache || 'false' }}
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/certbot_dns_duckdns:unstable
            ${{ secrets.DOCKER_USERNAME }}/certbot_dns_duckdns:latest
            ${{ secrets.DOCKER_USERNAME }}/certbot_dns_duckdns:${{ steps.get_tag.outputs.TAG }}
            ghcr.io/${{ secrets.GH_USERNAME }}/certbot_dns_duckdns:unstable
            ghcr.io/${{ secrets.GH_USERNAME }}/certbot_dns_duckdns:latest
            ghcr.io/${{ secrets.GH_USERNAME }}/certbot_dns_duckdns:${{ steps.get_tag.outputs.TAG }}
          platforms: linux/amd64,linux/arm/v6,linux/arm/v7,linux/arm64/v8
          cache-from: type=gha
          cache-to: type=gha,mode=max
  
      - name: Attest
        uses: actions/attest-build-provenance@v3
        id: attest
        with:
          subject-name: ghcr.io/${{ secrets.GH_USERNAME }}/certbot_dns_duckdns
          subject-digest: ${{ steps.build-push.outputs.digest }}
          push-to-registry: true
