name: pypi build test

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - dev

jobs:
  linting-setup-install:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ "3.10", "3.11", "3.12", "3.13", "3.14" ]

    steps:
      - uses: actions/checkout@v6

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: install linting requirements
        run: |
          pip install --upgrade pip
          pip install flake8 pylint

      - name: Install project
        run: pip install .

      - name: Lint with flake8
        run: flake8 certbot_dns_duckdns --count --select=E9,F63,F7,F82 --show-source --statistics

      - name: Lint with pylint
        run: pylint certbot_dns_duckdns -d C,R,W

  build:
    name: Build distribution
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up Python 3.14
        uses: actions/setup-python@v6
        with:
          python-version: 3.14

      - name: Install pypa/build
        run: >-
          python -m
          pip install
          build
          --user

      - name: Build a binary wheel and a source tarball
        run: >-
          python -m
          build
          --sdist
          --wheel
          --outdir dist/
          .

      - name: Upload distribution artifact for other jobs
        uses: actions/upload-artifact@v5
        with:
          name: certbot_dns_duckdns_dist
          path: dist/
